body{
    background: url("../src/assets/images/5205447.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: blue;
}

.grid-item img {
    height: 100px;
    width: 100px;

    transition: transform 0.6s;
    transform-style: preserve-3d;

  
}
h1,h2{
    color : white;
}
.grid-item.flipped img {
    transform: rotateY(180deg);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.modal-content h1{
   color: black;
}